DATABASE_URL=postgresql://localhost/nothingbutnet
# generate one with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=